[Desktop Entry]
Categories=Office;
Comment[en_GB]=Password manager and secure wallet
Comment=Password manager and secure wallet
Exec=/opt/1Password/1password --silent
GenericName[en_GB]=
GenericName=
Icon=1password
MimeType=
Name[en_GB]=1Password
Name=1Password
Path=
StartupNotify=true
StartupWMClass=1Password
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
