[Desktop Entry]
Exec=/usr/bin/1password --quick-access
Name=1Password Quick Access
NoDisplay=true
StartupNotification=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
X-KDE-Shortcuts=Ctrl+Shift+Space
